<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/assets/css/burger_style.css" />
    <title>Eat da Burger</title>
    {{!--
    <script src=“https://code.jquery.com/jquery.js“></script> --}}
</head>

<body>
    <main>
        <div class="container">
            <div class="card-header">
                <h1>Eat Da Burger</h1>
            </div>
            {{{ body }}}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
                crossorigin="anonymous"></script>
            <script type="text/javascript" src="/assets/js/burgers.js"></script>
        <div class="card">
            <div class="card-header">
                © 2018 Navdeep Singh
            </div>
            <div class="card-body">
                <a href="https://www.linkedin.com/in/navdeep-singh-27a8257a/" target="_blank">Linked In</a>
                |
                <a href="https://github.com/snavdeepsingh" target="_blank">Git hub</a>
            </div>
        </div>
        </div>
    </main>
</body>

</html>